@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h3>Edit this Name: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name, new {@class = "form-label"})
    @Html.EditorFor(model => model.Name, new {@class = "form-control", @required = "required"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId", null, new {@class = "form-control"})
  </div>

  <input type="submit" value="Save" class="btn btn-dark"/>
}
<br>
<p class="btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>