
@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Review

<h4>Add a Review</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)
    
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control"})
    <br>

    @Html.LabelFor(model => model.Restaurant)
    <br>
    @Html.DropDownList("RestaurantId", null, new {@class = "form-control"})

    <input type="submit" value="Add New Review" class="btn btn-dark" />
}
<br>
<p class="btn btn-dark">@Html.ActionLink("Show all Reviews", "Index")</p>