@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Review
<h2>Review Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>


<p class="btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>
<p class="btn btn-dark">@Html.ActionLink("Edit Review", "Edit", new { id = Model.ReviewId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Review", "Delete", new { id = Model.ReviewId })</p>