@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this Cuisine: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineId)

  @Html.LabelFor(model => model.Type) 
  <br>
  @Html.EditorFor(model => model.Type)

  <input type="submit" value="Save" class="btn btn-dark"/>
}

<p class="btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>